:root {
    --dark-purple: #4b2e83;
}

.btn-outline-primary {
    color: #ffffff;
    padding: 0.55em 1.3em;
    background-color: var(--primary-purple);
    border: 1px solid var(--dark-purple);
}

.btn-outline-primary:hover {
    background-color: var(--primary-purple);
    border: 1px solid var(--dark-purple);
    opacity: 0.7;
}

.rounded-btn {
    border-radius: 20px;
}

.btn-primary {
    color: #ffffff;
    padding: 0.55em 1.3em;
    background: linear-gradient(45deg, #17A2B8, #17A2B8);
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #17A2B8, #17A2B8);
    transform: scale(1.05);
}

.btn-outline-info {
    border-color: #17a2b8;
    color: #17a2b8;
}

.btn-outline-info:hover {
    background-color: #17a2b8;
    color: #fff;
}

.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}