<div class="mb-4">
  <h3>Reviews</h3>
  <% if book.reviews.where.not(rating: nil).any? %>
    <% book.reviews.where.not(rating: nil).each do |review| %>
      <%= render 'reviews/review', review: review, book: book %>
    <% end %>
  <% else %>
    <p>No reviews yet. Be the first to review this book!</p>
  <% end %>
</div>
